<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS 527 Project 1</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="choiceButtonRow">
        <button class="choiceButton" id="" type="button">MySQL</button>
        <button class="choiceButton" id="" type="button">RedShift</button>
    </div>
        <form class="inputForm" action="" method="post" id="">
            <input class="inputBox" type="text" name="query" value="" placeholder="Input your query here" row="10" />
            <input class="" id="" type="submit" value="Run" />
        </form>
    <div class="runningTimeBox">
        <span class="runningTimeBox runningTimeRes" id="">{{ 'excuted time here' }} </span> Time Elapsed
    </div>
    <div>
        <table class="resultBox" id="" border="">
            <tr>
                <td>example</td>
            </tr>
        </table>
    </div>
</body>

</html>